<a href="https://colab.research.google.com/github/punithamuthusamy-ux/Python_code_learning/blob/main/Python_DA_Assignment_1_Data_Analysis_using_NumPy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python DA Assignment 1:  Data Analysis using NumPy and Pandas**

##Numpy Array Operations

**1. Create a 1D NumPy Array**

In [ ]:
# Create a Numpy

import numpy as np
temparature_w1 = np.array([22.5, 25.3, 20.8, 23.4, 26.1, 24.8, 21.9])

print(temparature_w1)

[22.5 25.3 20.8 23.4 26.1 24.8 21.9]

**2. Inspection and Properties**

In [ ]:
# Inspect the shape, data type, and the number of elements in the array.Inspect the shape of the temperatures_w1 array.

# Shape
print("Shape:", temparature_w1.shape)

Shape: (7,)

In [ ]:
# Data type
print("Data type:", temparature_w1.dtype)

Data type: float64

In [ ]:
# Size/Number of elements
print("Size:", temparature_w1.size)

Size: 7

**3. Array Operations**

In [ ]:
# Convert the temperatures_w1 from Celsius to Fahrenheit using the formula: Fahrenheit = (Celsius * 9/5) + 32

temperatures_w1_fahrenheit = (temparature_w1 * 9/5) + 32
print("Temperatures_w1_fahrenheit:", temperatures_w1_fahrenheit )

Temperatures_w1_fahrenheit: [72.5  77.54 69.44 74.12 78.98 76.64 71.42]

In [ ]:
# Find the maximum, minimum, and mean temperatures for the week

# Maximum
print("Maximum:", np.max(temperatures_w1_fahrenheit))

Maximum: 78.98

In [ ]:
# Minimum
print("Minimum:", np.min(temperatures_w1_fahrenheit))

Minimum: 69.44

In [ ]:

# Mean
print("Mean:", np.mean(temperatures_w1_fahrenheit))

Mean: 74.37714285714286

**4. Array Slicing and Indexing**

In [ ]:
#  Extract the temperatures for the first three days of the week

temperatures_w1_first_three_days = temperatures_w1_fahrenheit[:3]
print("First three days:", temperatures_w1_first_three_days)

First three days: [72.5  77.54 69.44]

In [ ]:
# Extract the temperatures for the weekend (last two days)

temperatures_w1_weekend = temperatures_w1_fahrenheit[-2:]
print("Last two days:", temperatures_w1_weekend)

Last two days: [76.64 71.42]

In [ ]:
# Extract the temperatures for the middle three days of the week

temperatures_w1_middle_three_days = temperatures_w1_fahrenheit[1:4]
print("Middle days:", temperatures_w1_middle_three_days)

Middle days: [77.54 69.44 74.12]

**5. Create a 2D Array**

In [ ]:
# Create a 2D NumPy array named temperatures where each row represents temperatures for a different week

temperatures = np
temperatures = np.array([[22.5, 25.3, 20.8, 23.4, 26.1, 24.8, 21.9],
                          [19.2, 22.5, 21.3, 24.0, 23.5, 22.8, 20.1]])
print(temperatures)

[[22.5 25.3 20.8 23.4 26.1 24.8 21.9]
 [19.2 22.5 21.3 24.  23.5 22.8 20.1]]

**6. Inspect and Slice the 2D Array**

In [ ]:
# Inspect and print the shape, data type, and total number of elements in the temperatures array

# Shape
print("Shape:", temperatures.shape)

# Data type
print("Data type:", temperatures.dtype)

# Size/Number of elements
print("Size:", temperatures.size)

Shape: (2, 7)
Data type: float64
Size: 14

In [ ]:
# Extract the temperatures for each week and the weekends (last two days) for both weeks

# Extract temperatures for week 1 and week 2
temperatures_week1 = temperatures[0, :]
temperatures_week2 = temperatures[1, :]

# Extract weekend temperatures for week 1
temperatures_week1_weekend = temperatures_week1[-2:]

# Extract weekend temperatures for week 2
temperatures_week2_weekend = temperatures_week2[-2:]

print("Temperatures Week 1:", temperatures_week1)
print("Temperatures Week 2:", temperatures_week2)

print("Weekend Temperatures Week 1:", temperatures_week1_weekend)
print("Weekend Temperatures Week 2:", temperatures_week2_weekend)

Temperatures Week 1: [22.5 25.3 20.8 23.4 26.1 24.8 21.9]
Temperatures Week 2: [19.2 22.5 21.3 24.  23.5 22.8 20.1]
Weekend Temperatures Week 1: [24.8 21.9]
Weekend Temperatures Week 2: [22.8 20.1]

##Pandas Series

**1. Creating Pandas Series**

In [ ]:
# Create a Pandas Series named marks
import pandas as pd

# Marks

Marks = pd.Series([ 95, 92, 89, 85, 80 ])
Custom_indices = pd.Series(['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5'])

print(Marks)
print(Custom_indices)

0    95
1    92
2    89
3    85
4    80
dtype: int64
0    Rank1
1    Rank2
2    Rank3
3    Rank4
4    Rank5
dtype: object

**2. Indexing and Slicing**

In [ ]:
# Use the integer index position to access the mark of the 1st rank student

print("1st Rank mark:", Marks[0])

1st Rank mark: 95

In [ ]:
# Use the loc accessor to retrieve the marks of the top 3 ranks by specifying their index labels

# Recreate Marks Series with custom indices to enable .loc with string labels
Marks = pd.Series([95, 92, 89, 85, 80], index=Custom_indices.values)

print("Top 3 ranks:", Marks.loc['Rank1':'Rank3'])

Top 3 ranks: Rank1    95
Rank2    92
Rank3    89
dtype: int64

In [ ]:
# Use the iloc accessor to retrieve the mark of the 3rd rank student

print("3rd Rank mark:", Marks.iloc[2])

3rd Rank mark: 89

In [ ]:
# Apply a boolean mask to filter the Series and retrieve the ranks where the marks are greater than 90

print("Greater than 90:", Marks[Marks > 90])

Greater than 90: Rank1    95
Rank2    92
dtype: int64

**3. Manipulating Series**

In [ ]:
# Modify the mark of the student with the 1st rank to 100

Marks['Rank1'] = 100
print("Modified Marks:", Marks)

Modified Marks: Rank1    100
Rank2     92
Rank3     89
Rank4     85
Rank5     80
dtype: int64

In [ ]:
# Remove the entry corresponding to the last rank from the Series

Marks = Marks.drop('Rank5')
print("Modified Marks:", Marks)

Modified Marks: Rank1    100
Rank2     92
Rank3     89
Rank4     85
dtype: int64

In [ ]:
# Compute the CGPA by dividing each mark in the Series by 10

CGPA = Marks / 10
print("CGPA:", CGPA)

CGPA: Rank1    10.0
Rank2     9.2
Rank3     8.9
Rank4     8.5
dtype: float64

##Pandas DataFrame

**1. Creating Pandas DataFrame**

In [ ]:
# Create a Pandas DataFrame named transactions with the following data

# TransactionID: 101, 102, 103, 104, 105, 106, 107, 108, 109, 110
# ProductCategory: 'Electronics', 'Clothing', 'Electronics', 'Furniture', 'Clothing', 'Electronics', 'Furniture', 'Clothing', 'Furniture', 'Electronics'
# Region: 'North', 'South', 'North', 'East', 'West', 'North', 'East', 'West', 'South', 'North'
# Amount: 200, 150, 300, 450, 200, 250, 300, 180, 350, 400

import pandas as pd

data = {
    'TransactionID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'ProductCategory': ['Electronics', 'Clothing', 'Electronics', 'Furniture', 'Clothing', 'Electronics', 'Furniture', 'Clothing', 'Furniture', 'Electronics'],
    'Region': ['North', 'South', 'North', 'East', 'West', 'North', 'East', 'West', 'South', 'North'],
    'Amount': [200, 150, 300, 450, 200, 250, 300, 180, 350, 400]
}

**2. Data Exploration**

In [ ]:
# Display the transactions DataFrame and its basic information, including head, tail, shape, column names, and data types

# Display Transaction Data frame

transactions = pd.DataFrame(data)
transactions

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

In [ ]:
# Head

print("Head:", transactions.head())
transactions.head()

Head:    TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     150
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200

In [ ]:
# Tail

print("Tail:", transactions.tail())
transactions.tail()

Tail:    TransactionID ProductCategory Region  Amount
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

   TransactionID ProductCategory Region  Amount
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

In [ ]:
# Column Names

print("Column Names:", transactions.columns)

Column Names: Index(['TransactionID', 'ProductCategory', 'Region', 'Amount'], dtype='object')

In [ ]:
# Data type

print("Data Types:", transactions.dtypes)
transactions.dtypes

Data Types: TransactionID       int64
ProductCategory    object
Region             object
Amount              int64
dtype: object

TransactionID       int64
ProductCategory    object
Region             object
Amount              int64
dtype: object

In [ ]:
#  Display only the 'ProductCategory' and 'Amount' columns

print(transactions[['ProductCategory', 'Amount']])
transactions[['ProductCategory', 'Amount']]

  ProductCategory  Amount
0     Electronics     200
1        Clothing     150
2     Electronics     300
3       Furniture     450
4        Clothing     200
5     Electronics     250
6       Furniture     300
7        Clothing     180
8       Furniture     350
9     Electronics     400

  ProductCategory  Amount
0     Electronics     200
1        Clothing     150
2     Electronics     300
3       Furniture     450
4        Clothing     200
5     Electronics     250
6       Furniture     300
7        Clothing     180
8       Furniture     350
9     Electronics     400

In [ ]:
# Retrieve the last 3 columns of the DataFrame using iloc or loc

print(transactions.iloc[:,-3:])
transactions.iloc[:,-3:]

  ProductCategory Region  Amount
0     Electronics  North     200
1        Clothing  South     150
2     Electronics  North     300
3       Furniture   East     450
4        Clothing   West     200
5     Electronics  North     250
6       Furniture   East     300
7        Clothing   West     180
8       Furniture  South     350
9     Electronics  North     400

  ProductCategory Region  Amount
0     Electronics  North     200
1        Clothing  South     150
2     Electronics  North     300
3       Furniture   East     450
4        Clothing   West     200
5     Electronics  North     250
6       Furniture   East     300
7        Clothing   West     180
8       Furniture  South     350
9     Electronics  North     400

In [ ]:
# Filter rows where the 'Region' is 'North' and 'Amount' is greater than 200

print(transactions[(transactions['Region'] == 'North') & (transactions['Amount'] > 200)])
transactions[(transactions['Region'] == 'North') & (transactions['Amount'] > 200)]

   TransactionID ProductCategory Region  Amount
2            103     Electronics  North     300
5            106     Electronics  North     250
9            110     Electronics  North     400

   TransactionID ProductCategory Region  Amount
2            103     Electronics  North     300
5            106     Electronics  North     250
9            110     Electronics  North     400

In [ ]:
# Find the value counts for the 'ProductCategory' column

print(transactions['ProductCategory'].value_counts())
transactions['ProductCategory'].value_counts()

ProductCategory
Electronics    4
Clothing       3
Furniture      3
Name: count, dtype: int64

ProductCategory
Electronics    4
Clothing       3
Furniture      3
Name: count, dtype: int64

In [ ]:
# Find the unique values in the 'Region' column

print(transactions['Region'].unique())

['North' 'South' 'East' 'West']

In [ ]:
# Group by 'Region' and find the mean amount for each region

print(transactions.groupby('Region')['Amount'].mean())
transactions.groupby('Region')['Amount'].mean()

Region
East     375.0
North    287.5
South    250.0
West     190.0
Name: Amount, dtype: float64

Region
East     375.0
North    287.5
South    250.0
West     190.0
Name: Amount, dtype: float64

**3. Manipulating the DataFrame**

In [ ]:
# Modify the 'Amount' for the transaction with TransactionID 102 to 165

transactions.loc[transactions['TransactionID'] == 102, 'Amount'] = 165
print(transactions)
transactions.loc[transactions['TransactionID'] == 102]

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     165
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
8            109       Furniture  South     350
9            110     Electronics  North     400

   TransactionID ProductCategory Region  Amount
1            102        Clothing  South     165

In [ ]:
#  Add a new column 'Discount' by calculating 10% of the 'Amount'

transactions['Discount'] = 0.1 * transactions['Amount']
print(transactions)
transactions['Discount']

   TransactionID ProductCategory Region  Amount  Discount
0            101     Electronics  North     200      20.0
1            102        Clothing  South     165      16.5
2            103     Electronics  North     300      30.0
3            104       Furniture   East     450      45.0
4            105        Clothing   West     200      20.0
5            106     Electronics  North     250      25.0
6            107       Furniture   East     300      30.0
7            108        Clothing   West     180      18.0
8            109       Furniture  South     350      35.0
9            110     Electronics  North     400      40.0

0    20.0
1    16.5
2    30.0
3    45.0
4    20.0
5    25.0
6    30.0
7    18.0
8    35.0
9    40.0
Name: Discount, dtype: float64

In [ ]:
# Remove the row with TransactionID 109

transactions = transactions[transactions['TransactionID'] != 109]
print(transactions)
transactions[transactions['TransactionID'] != 109]

   TransactionID ProductCategory Region  Amount  Discount
0            101     Electronics  North     200      20.0
1            102        Clothing  South     165      16.5
2            103     Electronics  North     300      30.0
3            104       Furniture   East     450      45.0
4            105        Clothing   West     200      20.0
5            106     Electronics  North     250      25.0
6            107       Furniture   East     300      30.0
7            108        Clothing   West     180      18.0
9            110     Electronics  North     400      40.0

   TransactionID ProductCategory Region  Amount  Discount
0            101     Electronics  North     200      20.0
1            102        Clothing  South     165      16.5
2            103     Electronics  North     300      30.0
3            104       Furniture   East     450      45.0
4            105        Clothing   West     200      20.0
5            106     Electronics  North     250      25.0
6            107       Furniture   East     300      30.0
7            108        Clothing   West     180      18.0
9            110     Electronics  North     400      40.0

In [ ]:
# Delete the 'Discount' column from the DataFrame

transactions = transactions.drop('Discount', axis=1, errors='ignore')
print(transactions)
transactions.drop('Discount', axis=1, errors='ignore')

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     165
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
9            110     Electronics  North     400

   TransactionID ProductCategory Region  Amount
0            101     Electronics  North     200
1            102        Clothing  South     165
2            103     Electronics  North     300
3            104       Furniture   East     450
4            105        Clothing   West     200
5            106     Electronics  North     250
6            107       Furniture   East     300
7            108        Clothing   West     180
9            110     Electronics  North     400