<a href="https://colab.research.google.com/github/punithamuthusamy-ux/Python_code_learning/blob/main/Python_Assignment_2_Data_Structures_List%2C_Dictionary%2C_Set_%26_Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Assignment 2: Data Structures - List, Dictionary, Set & Conditional Statements**

**List (Creation, Modification and Access)**

**1. List Creation**

In [ ]:
# a. Create a list named age_list with five integer elements. For eg., [24, 25, 26, 27, 28]

Age_list = [42, 34, 27, 25, 14]
print(Age_list)
print(type(Age_list))

[42, 34, 27, 25, 14]
<class 'list'>

In [ ]:
# b. Create a list named name_list with five string elements

Name_list = ["Muthusamy", "Eswari", "Punitha", "Tamil selvan", "Logeshwaran"]
print(Name_list)
print(type(Name_list))

['Muthusamy', 'Eswari', 'Punitha', 'Tamil selvan', 'Logeshwaran']
<class 'list'>

**2. List Operations / Modifications**

In [ ]:
# a. Append the string "Yazhini" to name_list

Name_list.append("Yazhini")
print(Name_list)

['Muthusamy', 'Eswari', 'Punitha', 'Tamil selvan', 'Logeshwaran', 'Yazhini']

In [ ]:
# b. Insert the element 30 at index 2 in age_list

Age_list.insert(2, 30)
print(Age_list)

[42, 34, 30, 27, 25, 14]

In [ ]:
# c. Remove the string "Yazhini" from name_list

Name_list.remove("Yazhini")
print(Name_list)

['Muthusamy', 'Eswari', 'Punitha', 'Tamil selvan', 'Logeshwaran']

In [ ]:
# d. Pop the last element from age_list

Age_list.pop()
print(Age_list)

[42, 34, 30, 27, 25]

In [ ]:
# e. Extend the age_list with additional ages [29, 30, 26]

Age_list.extend([29, 30, 26])
print(Age_list)

[42, 34, 30, 27, 25, 29, 30, 26]

In [ ]:
# f. Sort age_list in descending order

Age_list.sort(reverse=True)
print(Age_list)

[42, 34, 30, 30, 29, 27, 26, 25]

In [ ]:
# g. Find Max age, Min age and sum of all ages from age_list


Max_age = max(Age_list)
Min_age = min(Age_list)
Total_age = sum(Age_list)

print("Maximum Age:", Max_age)
print("Minimum Age:", Min_age)
print("Sum of All Ages:", Total_age)

Maximum Age: 42
Minimum Age: 25
Sum of All Ages: 243

**3. Accessing List Elements**

In [ ]:
# a. Print the first element of name_list

print("First Element:", Name_list[0])

First Element: Muthusamy

In [ ]:
# b. Print the last element of name_list

print("Last Element:", Name_list[-1])

Last Element: Logeshwaran

In [ ]:
# c. Print the elements from index 2 to index 4 in name_list

print("Elements from Index 2 to 4:", Name_list[2:5])

Elements from Index 2 to 4: ['Punitha', 'Tamil selvan', 'Logeshwaran']

In [ ]:
# d. Print the elements of name_list in reverse order

print("Name List in Reverse Order:", Name_list[::-1])

Name List in Reverse Order: ['Logeshwaran', 'Tamil selvan', 'Punitha', 'Eswari', 'Muthusamy']

**Dictionary (Creation, Modification and Access)**

In [ ]:
# a. Create a dictionary named student_marks that maps the names of five students to their marks (use scale of from 0 to 100)

Student_marks = {
    "Punitha": 87,
    "Narmadha": 90,
    "Dharani": 75,
    "Ananthi": 89,
    "Mounika": 80,
}
print(Student_marks)
print(type(Student_marks))

{'Punitha': 87, 'Narmadha': 90, 'Dharani': 75, 'Ananthi': 89, 'Mounika': 80}
<class 'dict'>

In [ ]:
# b. Access and print the mark of a specific student, of your choice

print("Mark of Mounika:", Student_marks["Mounika"])

Mark of Mounika: 80

In [ ]:
# c. Add a new student "Janani" with a mark of 80 to the student_marks dictionary

Student_marks["Janani"] = 80
print(Student_marks)

{'Punitha': 87, 'Narmadha': 90, 'Dharani': 75, 'Ananthi': 89, 'Mounika': 80, 'Janani': 80}

In [ ]:
# d. Update the mark of any one older student to 82

Student_marks["Punitha"] = 82
print(Student_marks)

{'Punitha': 82, 'Narmadha': 90, 'Dharani': 75, 'Ananthi': 89, 'Mounika': 80, 'Janani': 80}

In [ ]:
# e. Use the keys(), values(), and items() methods to print all keys, values, and key-value pairs in the student_marks dictionary

print("Keys:", Student_marks.keys())
print("Values:", Student_marks.values())

Keys: dict_keys(['Punitha', 'Narmadha', 'Dharani', 'Ananthi', 'Mounika', 'Janani'])
Values: dict_values([82, 90, 75, 89, 80, 80])

**Sets (Operations)**

In [ ]:
# a. Create a set called my_set with following values:
['a','e','i','o','u','a','a','i']
# Analyse the output and provide explanation for the same

My_set = {'a', 'e', 'i', 'o', 'u', 'a', 'a', 'i'}
print(My_set)

{'o', 'e', 'u', 'i', 'a'}

In [ ]:
# b. Attempt to change the value of my_set[4] = 's'. If code throws an error, provide an explanation

# My_set[4] = 's' # This line will cause a TypeError after the IndentationError is fixed.
# print(My_set)

print("Explanation: Sets are unordered collections and do not support indexing for assignment. You cannot change an element using an index like `my_set[4] = 's'`. To add an element, use the `.add()` method, for example, `My_set.add('s')`.")

# If you wanted to add 's' to the set, you would do:
# My_set.add('s')
# print(My_set)

Explanation: Sets are unordered collections and do not support indexing for assignment. You cannot change an element using an index like `my_set[4] = 's'`. To add an element, use the `.add()` method, for example, `My_set.add('s')`.

In [ ]:
# c. Create two sets:
# set1 with values: {1, 3, 5, 7, 9}
# set2 with values: {2, 3, 5, 8, 10}

Set1 = {1, 3, 5, 7, 9}
Set2 = {2, 3, 5, 8, 10}

print("Set1:", Set1)
print("Set2:", Set2)

Set1: {1, 3, 5, 7, 9}
Set2: {2, 3, 5, 8, 10}

In [ ]:
# d. Compute and print the union and intersection of set1 and set2

Union = Set1.union(Set2)
Intersection = Set1.intersection(Set2)

print("Union:", Union)
print("Intersection:", Intersection)

Union: {1, 2, 3, 5, 7, 8, 9, 10}
Intersection: {3, 5}

**Operators & Conditional Statements**
**(IF, ELIF, ELSE)**

**Performance Category Program**

In [ ]:
# 1. Prompt user for Input. Score range should be from 0 to 10 (both inclusive)

Score = int(input("Enter the Valid Score: "))

Enter the Valid Score: 10

**2. Find the performance category based on the input score using following criteria**

In [ ]:
# a. Above Average: Score greater than 7
# b. Average: Score between 4 and 7(both inclusive)
# c. Below Average: Score lesser than 4

if Score > 7:
    print("Performance Category: Above Average")
elif Score >= 4 and Score <= 7:
    print("Performance Category: Average")
elif Score < 4:
    print("Performance Category: Below Average")
else:
    print("Invalid Score: Score must be between 0 and 10.")

Performance Category: Above Average

In [ ]:
# 3. Output: Print the Performance category

print("Performance Category:", performance_category)

Performance Category: Average

In [ ]:
# 4. Additional Step: You can give a prompt of your choice to each category.
# For eg: If score below average “Need to Improve your performance, consistent practice will lead to better results”. Sampl

Score = int(input("Enter your score (0 to 10): "))

if 0 <= Score <= 3:
    print("Below Average: Need to improve your performance. Consistent practice will lead to better results.")
elif 4 <= Score <= 6:
    print("Average: Good effort. Keep practicing to strengthen your skills.")
elif 7 <= Score <= 8:
    print("Good: Strong performance. Stay focused and aim even higher.")
elif 9 <= Score <= 10:
    print("Excellent: Outstanding work! Keep up the momentum and continue learning.")
else:
    print("Invalid score! Please enter a value between 0 and 10.")

Enter your score (0 to 10): 10
Excellent: Outstanding work! Keep up the momentum and continue learning.