<a href="https://colab.research.google.com/github/punithamuthusamy-ux/Python_code_learning/blob/main/Python_Assignment_1_Data_Structures_Strings_%26_Tuples_Str.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Assignment 1: Data Structures - Strings & Tuples**

**1. String Concatenation**

In [ ]:
# 1. String (Welcome Note)

Name = "Hello"
print(Name)

Hello

In [ ]:
# 2. String

Name = " Hellp Punitha"
print(Name)

 Hellp Punitha

In [ ]:
# 3. String

Name = "Hello Punitha"
Greetings = Name + " , " "Welcome to Python Programming"
print(Greetings)

Hello Punitha , Welcome to Python Programming

**2. String Slicing and Indexing**

In [ ]:
# length of greetings

len(Greetings)

45

In [ ]:
# a. Print the first character of the string

print(Greetings[1])

e

In [ ]:
# b. Print the last character of the string

print(Greetings[44])

g

In [ ]:
# c. Print the first 5 characters of the string

print(Greetings[:5])

Hello

In [ ]:
# d. Print the last 11 characters of the string

print(Greetings[-11:])

Programming

In [ ]:
# e. Print the string in reverse

print("Reversed Greetings:" , Greetings[::-1])

Reversed Greetings: gnimmargorP nohtyP ot emocleW , ahtinuP olleH

In [ ]:
# f. Use slicing and print the word “Python” from the existing string

print(Greetings[27:33])

Python

**3. String Methods**

In [ ]:
M = "Python beginner tutorial"

In [ ]:
# a. Convert the sentence to uppercase

print("Upper case:" , M.upper())

Upper case: PYTHON BEGINNER TUTORIAL

In [ ]:
# b. Convert the sentence to lowercase

print("Lower case:" , M.lower())

Lower case: python beginner tutorial

In [ ]:
# c. Use Capitalize and return the sentence to the original input form

print("Capitalized:" , M.capitalize())

Capitalized: Python beginner tutorial

In [ ]:
# d. Count the total number of occurrences of character ‘t’ in the string

count_t = M.count("t")
print("Occurances of T:" , count_t)

Occurances of T: 3

In [ ]:
# e. Replace all occurrences of “Python” with “Machine Learning” in the input string strM = Python beginner tutorial

print("Replace Python - Machine Learning:" , M.replace("Python", "Machine Learning"))
M = M.replace("Python", "Machine Learning")
print(M)

Replace Python - Machine Learning: Machine Learning beginner tutorial
Machine Learning beginner tutorial

**Tuples (Creation, Modification and Access)**

In [ ]:
# Tuple

tuple1 = (10, 20, 30)
tuple2 = (40, 50, 60)

print(tuple1)
print(tuple2)

(10, 20, 30)
(40, 50, 60)

In [ ]:
# a. Concatenate the two tuples and store it in “t_combine”

t_combine = tuple1 + tuple2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [ ]:
# b. Repeat the elements of “t_combine” 3 times

t_combine = (10, 20, 30, 40, 50, 60)
print("t_combine_repeat:" , t_combine * 3)

t_combine_repeat: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [ ]:
# c. Access the 3rd element from “t_combine”

t_combine = (10, 20, 30, 40, 50, 60)
print("Third element:" , t_combine[2])

Third element: 30

In [ ]:
# d. Access the first three elements from “t_combine”

t_combine = (10, 20, 30, 40, 50, 60)
print(t_combine[:3])

(10, 20, 30)

In [ ]:
# e. Access the last three elements from “t_combine”

t_combine = (10, 20, 30, 40, 50, 60)
print(t_combine[3:])

(40, 50, 60)